@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: "Bebas Neue", sans-serif;
  --font-bokor: "Bokor", cursive;
}

@layer components {
  .secondary-buttons {
    @apply m-2 px-4 py-3 border-2 rounded uppercase text-sm font-bold hover:cursor-pointer hover:scale-110 transition-all ease-in-out duration-300;
  }
  .label {
    @apply bg-gray-200 text-black text-sm font-semibold uppercase py-2 px-5 rounded-full hover:cursor-default;
  }
  .icon-hover {
    @apply hover:scale-120 transition-all ease-in-out duration-300;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
